* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: 2rem;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Source Sans 3", Arial, sans-serif;
}

span,
p,
li,
td {
    font-family: "Fjalla One", sans-serif;
}

hr {
    background-color: #0075c1;
    height: 3px;
    margin: 1rem 0;
}

header {
    background-color: #0075c1;
    padding: 1em;
    text-align: center;
    color: #f6f6f6;
}

header h1 {
    padding-bottom: 20px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section ol {
    list-style-position: inside;
}

section table, td {
    border: 2px solid;
    height: 50px;
}

.blue {
    background-color: #0075c1;
}

.seasalt {
    background-color: #f6f6f6;
}

.night {
    background-color: #161616;
    color: #f6f6f6;
}

nav {
    background-color: #0075c1;
}

nav li {
    color: #f6f6f6;
    padding: 1rem 0;
    cursor: pointer;
}

nav li:hover {
    background-color: rgba(255, 255, 255, .2);
}

.colored-heading-1,
.colored-heading-2,
.colored-p {
    padding: 10px;

}


.colored-heading-1 {
    background-color: #0075c1;
    color: #f6f6f6;
}
.colored-heading-2 {
    background-color: #161616;
    color: #f6f6f6;
}

.colored-p {
    background-color: #f6f6f6;
}