* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header span,
main h1,
.card h2 {
    font-family: "Play", sans-serif;
    font-weight: 500;
}

nav a,
main li,
footer {
    font-family: "Sulphur Point", sans-serif;
    font-weight: 400;
}

header {
    background-color: #2f3e46;
    padding: 1rem 2rem;
    display: grid;
    grid-template: 0.2fr 1fr 0.2fr / 1fr 2fr;
    color: #cad2c5;
    padding-bottom: 3rem;
}

header img {
    grid-row: 2/3;
    grid-column: 1/2;
    box-shadow: 0px 20px 30px -10px rgba(0, 0, 0, 0.9);
}

header span {
    grid-row: 2/3;
    grid-column: 2/3;
    text-align: center;
    font-size: 25px;
    margin: auto 0;
}

nav {
    background-color: #52796f;
}

nav li {
    text-align: center;
}

nav a {
    padding: 7px 0;
    display: block;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(0, 0, 0, 0.9);
}

nav .active {
    background-color: rgba(0, 0, 0, 0.3);
}

main {
    padding: 1rem 2rem;
}

main h1 {
    border-bottom: 1px solid black;
    font-size: 18px;
    text-align: center;
}

.card {
    border: 1px solid;
    border-radius: 10px;
    margin: 1rem 0;
    overflow: hidden;
}

.card h2 {
    background-color: #2f3e46;
    text-align: center;  
    padding: .75rem 0;
    color: #cad2c5;  
}

.card ul {
    padding: 1rem;
}

ul {
    list-style: none;
}

footer {
    background-color: #2f3e46;
    padding: 1rem;
    text-align: center;
    color: #cad2c5;
}

footer p {
    margin: 10px 0;
}

#hamburger {
    margin: 1rem;
    padding: 0 .5rem;
    cursor: pointer;
    font-size: 2rem;
}

#hamburger::before {
    content: "☰";
}

.menuLinks {
    display: none;
}

.menuLinks.open{
    display: block;
}

#hamburger.open::before {
    content: "✖";
}

#darkIcon{
    position: absolute;
    top: 9.5rem;
    left: 50%;
    cursor: pointer;
}

.dark {
    background-color: #001523;
}

main.dark h1,
main.dark section ul {
    color: #cad2c5;
    
}

main.dark h1 {
    border-bottom: 1px solid #cad2c5;
}

main.dark section ul a {
    color: #48cae4;
}

main.dark section {
    border-color: #cad2c5;
}