@media only screen and (min-width:700px) {
    header {
        grid-template-columns:  1fr 1fr 1fr;
        padding: 1rem 0;
    }

    header img{
        grid-row: 2/3;
       justify-self: end;
    }

    header span {
        font-size: 3rem;
    }

    .menuLinks {
        display: flex;
    }

    .menuLinks.open {
        display: flex;
    }

    nav li {
        flex-grow: 4;
    }

    nav a {
        padding: 15px 0;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 10px;
    }

    main h1 {
        grid-column: 1/3;
        font-size: 2rem;
        text-align: start;
    }
    
    #hamburger {
        display: none;
    }

    #darkIcon{
        position: absolute;
        top: 4.5rem;
        right: 15%;
        cursor: pointer;
    }
}